@model Kobowi.Dropbox.Models.DropboxSettingsPart
<fieldset>
    <legend>@T("Dropbox Settings")</legend>
    @Html.LabelFor(m => m.ApiKey, T("API Key"))
    @Html.EditorFor(m => m.ApiKey, new { @class = "text" })
    <br/>
    @Html.LabelFor(m => m.ApiSecret, T("API Secret"))
    @Html.EditorFor(m => m.ApiSecret, new { @class = "text" })
    <span class="hint">@T("Get your API key <a href=\"{0}\">here</a>", "https://www.dropbox.com/developers/apply?cont=/developers/apps")</span>
</fieldset>