@{
    Script.Require("jQuery");
    
    Script.Include("knockout-2.2.1.js");
    Script.Include("jquery.fancybox.pack.js");
    
    Style.Include("dropbox.storage.css");
    Style.Include("fancybox/jquery.fancybox.css");
    
    var client = WorkContext.Resolve<Kobowi.Dropbox.Services.IDropboxService>().GetClient(WorkContext.CurrentUser);
    var raw = Json.Encode(client.GetMetaData("").Contents.Select(i => new {
        name = i.Name,
        isFolder = i.Is_Dir,
        icon = i.Icon,
        size = i.Size,
        extension = i.Extension,
        modified = i.Modified,
        hasThumb = i.Thumb_Exists
    }));
                                
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @Display.Metas()
        @Display.HeadScripts()
        @Display.HeadLinks()
        @Display.StyleSheetLinks()
    </head>
    <body>
        <div id="dropbox-browser">
            <h1 data-bind="text: formattedPath()"></h1>
            <ul>
                <li data-bind="visible: formattedPath() != '/', click: $root.parent" class="nav-parent">
                    <div class="overlay">
                        <p class="filename">@T("Parent Directory")</p>
                    </div>
                </li>
                <!-- ko foreach: contents() -->
                <li data-bind="click: $root.open, style: { backgroundImage: 'url(' + thumbnailUrl() + ')' }, css: hasThumb ? 'wallpaper' : 'nowallpaper'">
                    <div class="overlay">
                        <p class="filename" data-bind="text: name"></p>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <div id="dropbox-properties">
            <div class="properties" data-bind="visible: selected().name">
                <p>@T("PROPERTIES")</p>
                <div class="thumbnail" data-bind="visible: selected().name, style: { backgroundImage: selected().name ? 'url(' + selected().thumbnailUrl() + ')' : 'none' }">
                
                </div>
                <span class="property" data-bind="visible: selected().name">
                    <span class="propname">@T("Name")</span>
                    <span class="propvalue" data-bind="text: selected().name"></span>
                </span>
                <span class="property" data-bind="visible: selected().size">
                    <span class="propname">@T("Size")</span>
                    <span class="propvalue" data-bind="text: selected().size"></span>
                </span>
                <span class="property" data-bind="visible: selected().modified">
                    <span class="propname">@T("Last Modified")</span>
                    <span class="propvalue" data-bind="text: selected().modified"></span>
                </span>
                <span class="property">
                    <a class="button" data-bind="click: $root.upload">@T("Import")</a>
                    <a class="button" data-bind="visible: selected().hasThumb" id="thumb-preview">@T("Preview")</a>
                </span>
            </div>
            <input type="hidden" name="Id" value="@Model"/>
            <input type="hidden" name="ThumbUrl" value="@Url.Action("Thumb")"/>
            <input type="hidden" name="ListUrl" value="@Url.Action("List")"/>
            <input type="hidden" name="PreviewUrl" value="@Url.Action("Preview")"/>
            <input type="hidden" name="UploadUrl" value="@Url.Action("Upload")"/>
            <input type="hidden" name="StyleUrl" value="@(String.Format("{0}/Modules/Kobowi.Dropbox/Styles", WorkContext.CurrentSite.BaseUrl))"/>
            <input type="hidden" name="AntiforgeryToken" value="@Html.AntiForgeryTokenValueOrchard()"/>
        </div>
        @using (Script.Foot()) {
            <script type="text/javascript">
                var urls = {
                    "thumb": $('input[name="ThumbUrl"]').val(),
                    "list": $('input[name="ListUrl"]').val(),
                    "preview": $('input[name="PreviewUrl"]').val(),
                    "upload": $('input[name="UploadUrl"]').val(),
                    "style": $('input[name="StyleUrl"]').val()
                };
                var antiforgeryToken = $('input[name="AntiforgeryToken"]').val();
                var id = $('input[name="Id"]').val();
                $(function () {
                    function DropboxItem(path, name, isFolder, icon, size, extension, modified, hasThumb) {
                        var self = this;
                        self.path = path;
                        self.name = name;
                        self.isFolder = isFolder;
                        self.icon = icon;
                        self.size = size;
                        self.extension = extension;
                        self.modified = modified.substr(0, modified.length - 6);
                        self.hasThumb = hasThumb;
                        self.thumbnailUrl = ko.computed(function() {
                            if (self.hasThumb) {
                                return urls['thumb'] + '?path=' + self.path + '/' + self.name;
                            } else {
                                return urls['style'] + '/images/dropbox/48x48/' + self.icon + '48.gif';
                            }
                        });
                        self.previewUrl = function() {
                            if (self.hasThumb) {
                                return urls['preview'] + '?path=' + self.path + '/' + self.name;
                            }
                            return null;
                        };
                    }

                    function DropboxViewModel() {
                        var self = this;
                        self.contents = ko.observableArray([]);
                        self.path = ko.observableArray([]);
                        self.selected = ko.observable({});
                        self.formattedPath = ko.computed(function() {
                            return '/' + self.path().join("/");
                        });

                        // List items at path
                        self.ls = function(path, callback) {
                            $.getJSON(urls["list"], { path: path },
                                function(data) {
                                    callback(data);
                                });
                        };

                        // Update list of items
                        self.update = function(contents) {
                            var length = self.contents().length;
                            for (var i = 0; i < length; i++) {
                                self.contents.pop();
                            }
                            self.pushobj(self.formattedPath(), contents);
                        };

                        // Open an item
                        self.open = function(item) {
                            if (item.isFolder) {
                                self.path.push(item.name);
                                self.ls(self.formattedPath(), self.update);
                                self.selected({});
                            } else {
                                self.selected(item);
                            }
                            
                            // Set up fancybox for our thumbnail
                            $('#dropbox-properties .thumbnail').css('background-image', '');
                            if (item.hasThumb) {
                                $('#thumb-preview').attr('href', urls["preview"] + '?path=' + self.formattedPath() + '/' + item.name);
                                $('#thumb-preview').fancybox();
                            }
                        };
                        
                        // Open parent folder
                        self.parent = function() {
                            self.path.pop();
                            self.ls(self.formattedPath(), self.update);
                        };
                        
                        // Load array of DropboxItem-esque objects
                        self.pushobj = function(path, obj) {
                            $.map(obj, function(element, index) {
                                self.contents.push(new DropboxItem(
                                    path,
                                    element.name,
                                    element.isFolder,
                                    element.icon,
                                    element.size,
                                    element.extension,
                                    element.modified,
                                    element.hasThumb));
                            });
                        };
                        
                        // Get thumbnail for an item in the current folder
                        self.thumbnail = function(item, callback) {
                            var path = self.formattedPath() + '/' + item.name;
                            $.getJSON(urls['thumb'], { path: path },
                                function(data) {
                                    callback(data);
                                });
                        };
                        
                        // Upload
                        self.upload = function() {
                            $.post(urls["upload"], {
                                id: id,
                                path: self.formattedPath() + '/' + self.selected().name,
                                name: self.selected().name,
                                __RequestVerificationToken: antiforgeryToken
                            })
                                .done(function() {
                                    alert('uploaded');
                                })
                                .fail(function() {
                                    alert('failed');
                                });
                        };
                    }

                    var model = new DropboxViewModel();
                    ko.applyBindings(model);

                    model.pushobj('/', @Html.Raw(raw));
                });
            </script>
        }
        @Display.FootScripts()
    </body>
</html>